@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  position: absolute;
  inset: 50px 15rem 10px 20px;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.best-seller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
  font-size: 4rem;
  font-weight: 500;
  font-family: 'karla', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title-best-seller {
  font-size: xx-large;
  font-family: 'karla', Courier, monospace;
  color: #010390;
  margin-left: 0.6rem;
}

@keyframes rebond {
  0%, 100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0,0.2,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0.2,0,1);
  }
}
.arrow-box {
  margin: 0 auto;
  cursor: pointer;
}

.arrow {
  animation: rebond 1s infinite;
}
.background-bar {
  display: flex;
  position: relative;
  min-height: 90vh;
  overflow: hidden;
}
.shape {
    background-color: rgb(200, 207, 224);
    clip-path: polygon(0 50%, 100% 0%, 100% 50%, 0% 100%);

}
.line {
  width: 200px;
  height: 10px;
  border: 2px solid #000;
  border-radius: 10px;
}

.line-start {
  border-top-left-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
}

.line-end {
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
}

.elementHidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
}

.elementShow {
  opacity: 1;
  transform: translateX(0);
}